.AltoCell {
    padding: 1em;
    background-color: white;
    font-family:"Volte Rounded W05 Medium";
    cursor: pointer;
}

.AltoCell:hover {
    background-image: linear-gradient(90deg, #F7FFFD 0%, #EDFDFA 100%);
}